<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>QR Travel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ostfalia, Rechenzentrum">
    <title>Poolraum Anmeldung</title>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/custom/css/starter-template.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <div class="container">
      <img id="qrlogo" width="64" height="64" src="/image/logo.png" />

      <div class="row">
        <div class="d-none d-md-block col-md-3 ">&nbsp;</div>
        <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
          <h1 id="roomtype" >Admin Page</h1>
        </div>
        <div class="d-none d-md-block col-md-3 ">&nbsp;</div>
      </div>

      <div id="logout">
        <span th:text="${token.givenName}" /> <span th:text="${token.sn}" />
        <a style='margin-left: 1em' class="btn btn-primary" href="/sys/logout" role="button">Logout</a>
      </div>

      <table>
        <tbody>
          <tr th:each="roomType: ${roomTypes}">
            <td th:text="${roomType.rtype}" />
            <td th:text="${roomType.description}" />
          </tr>
        </tbody>
      </table>


      Beschreibung

      Hinzufügen

      <hr/>

      Tabelle: 

      URL

      Raumtyp

      Beschreibung

      Anzahl

      Info

      Export

      <table>
        <tbody>
          <tr th:each="room: ${rooms}">
            <td th:text="${room.pin}" />
            <td th:text="${room.description}" />
            <td th:text="${room.ownerUid}" />
            <td th:text="${room.creation}" />
            <td th:text="${room.domain}" />
          </tr>
        </tbody>
      </table>

    </div>

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/jquery/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
    <script>window.jQuery;</script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/custom/js/next-input.js"></script>
    <script src="/custom/js/submit.js"></script>

    <div th:if="${dataCommitted}">
      <script>
      showCommitMessage();
      </script>
    </div>

    <p id="footer"><font size="-1"><a href="imprint.html">Impressum</a> - <a href="privacypolicy.html">Datenschutzerklärung</a></font></p>

  </body>
</html>
