<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments :: pageHeader(title='Anmeldung')" th:remove="tag">Page Header</div>

  <body>
    <div class="container">
      <div th:replace="fragments :: cookieMessage"></div>      
      <img id="qrlogo" width="64" height="64" src="image/logo.png" />
      <div th:if="${token.cookieAccepted}">
        <div th:if="${room == null}">
          <div class="row">
            <div class="d-none d-md-block col-md-3 ">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
              <h1 id="roomtype" >Raum-PIN?</h1>
              <div th:if="${pin != null}">
                <h3 id="roompin" >Raum <span th:text="${pin}" /> nicht gefunden!</h3>
              </div>
            </div>
            <div class="d-none d-md-block col-md-3 ">&nbsp;</div>
          </div>

          <form name="nopin" method="GET">
            <div class="form-row">
              <div class="d-none d-md-block col-md-3">&nbsp;</div>
              <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
                <input type="text" name="p" id="pin" maxlength="6" size="35"
                       oninput="this.value=this.value.replace(/[^0-9]/g,'');checkAndSendForNoPin(document.forms.nopin);"
                       placeholder="Raum-PIN" class="form-control input-lg text-center">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div th:replace="fragments :: bodyFooter" th:remove="tag">Body Footer</div>
  </body>
</html>
