<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>QR Travel</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <h1>QR Travel</h1>
    <form>
      <label for="id1">PIN</label> <input id='id1' type='text' name='pin' /></br>
      <label for="id2">Mail</label> <input id='id2' type='text' name='mail' /></br>
      <label for="id3">Phone</label> <input id='id3' type='text' name='phone' /></br>
      <label for="id4">Surname</label> <input id='id4' type='text' name='sn' /></br>
      <label for="id5">Givenname</label> <input id='id5' type='text' name='givenName' /></br>
    </form>
  </body>
</html>
