<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="${authServiceUri} + '/css/main.css'">
  </head>
  <body>
    <h1>Login</h1>
    <p th:text="'login attempt : ' + ${counter}" />
    <form th:action="${authServiceUri} + '/auth'" method="POST">
      <label>User ID:</label>
      <input type=text name=username size=32 /><br/>
      <label>Password:</label>
      <input type=password name=password size=32 /><br/>
      <p><input type=submit value=login /></p>
    </form>
  </body>
</html>
