<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments :: pageHeader(title='Admin Login')" th:remove="tag">Page Header</div>

  <body>
    <div class="container">
      <div th:replace="fragments :: bodyHeader(title='Admin Login')" th:remove="tag">Body Header</div>

      <form name="loginForm" action="#" th:action="@{/sys/login}" th:object="${loginForm}" method="POST" >

        <div class="form-row">
          <div class="d-none d-md-block col-md-3">&nbsp;</div>
          <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
            <div th:if="${errorMessage}"><br/><div th:text="${errorMessage}"></div></div>
            <div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">Error</div>
            <input type="text" size="35" placeholder="Account-ID" th:field="*{userId}" class="form-control input-lg text-center" >
          </div>
        </div>

        <div class="form-row">
          <div class="d-none d-md-block col-md-3">&nbsp;</div>
          <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>
            <input type="password" size="35" placeholder="Passwort" id="password" name="password" th:value="${loginForm.password}" class="form-control input-lg text-center" >
          </div>
        </div>

        <div class="form-row">
          <div class="d-none d-md-block col-md-3">&nbsp;</div>
          <div class="col-xs-12 col-sm-12 col-md-6 mt-4 " style="text-align: center">
            <button type="submit" class="text-white btn btn-primary btn-lg btn-block"><div th:text="Login" th:remove="tag" /></button>
          </div>
          <div class="d-none d-md-block col-md-3">&nbsp;</div>
        </div>
      </form>        

    </div>

    <div th:replace="fragments :: bodyFooter" />      

  </body>
</html>
