<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments :: pageHeader(title='Raum Anmeldung')" th:remove="tag">Page Header</div>

  <body>
    <div class="container">
      <div th:replace="fragments :: cookieMessage" ></div>      
      <img id="qrlogo" width="64" height="64" src="image/logo.png" />
      <div th:if="${token.cookieAccepted}">

        <div th:replace="fragments :: confirmationMessage" th:remove="tag">Confirmation Message</div>
        <div th:replace="fragments :: checkNoRoomPin" th:remove="tag">Check 'no room pin'</div>

        <div th:if="${room != null}">
          <div class="row">
            <div class="d-none d-md-block col-md-3 ">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
              <h1 id="roomtype" ><span th:text="${room.roomType.description}" th:remove="tag" /></h1>
              <h3 id="roomdesc" ><a th:href="@{/view?p={pin}(pin=${room.pin})}" th:target="_blank"><span th:text="${room.description}" th:remove="tag"/></a></h3>
            </div>
            <div class="d-none d-md-block col-md-3 ">&nbsp;</div>
          </div>

          <form name="regForm" action="#" th:action="@{/registration}" th:object="${registrationForm}" method="POST" >
            <div class="form-row">
              <div class="d-none d-md-block col-md-3">&nbsp;</div>
              <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
                <div th:if="${#fields.hasErrors('pin')}" th:errors="*{pin}">Pin Error</div>
                <input type="text" maxlength="6" size="35" th:field="*{pin}" readonly="true" class="form-control input-lg text-center" >
              </div>
            </div>

            <div class="form-row">
              <div class="d-none d-md-block col-md-3">&nbsp;</div>
              <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
                <div th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Error</div>
                <input type="text" size="35" placeholder="Platz-Nr." th:field="*{location}" class="form-control input-lg text-center" >
              </div>
            </div>           

            <div class="form-row">
              <div class="d-none d-md-block col-md-3">&nbsp;</div>
              <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
                <div th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Error</div>
                <input type="text" size="35" placeholder="e-Mail" th:field="*{mail}" class="form-control input-lg text-center" >
              </div>
            </div>

            <div class="form-row">
              <div class="d-none d-md-block col-md-3">&nbsp;</div>
              <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Error</div>
                <input type="text" maxlength="24" size="35" placeholder="Telefonnummer" th:field="*{phone}" class="form-control input-lg text-center" >
              </div>
            </div>

            <div class="form-row">
              <div class="d-none d-md-block col-md-3">&nbsp;</div>
              <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
                <div th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Error</div>
                <input type="text" maxlength="24" size="35" placeholder="Straße und Haus-Nr." th:field="*{street}" class="form-control input-lg text-center" >
              </div>
            </div>

            <div class="form-row">
              <div class="d-none d-md-block col-md-3">&nbsp;</div>
              <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
                <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Error</div>
                <input type="text" maxlength="24" size="35" placeholder="PLZ und Ort" th:field="*{city}" class="form-control input-lg text-center" >
              </div>
            </div>

            <div class="form-row">
              <div class="d-none d-md-block col-md-3">&nbsp;</div>
              <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
                <div th:if="${#fields.hasErrors('givenName')}" th:errors="*{givenName}">Error</div>
                <input type="text" size="35" placeholder="Vorname" th:field="*{givenName}" class="form-control input-lg text-center" >
              </div>
            </div>

            <div class="form-row">
              <div class="d-none d-md-block col-md-3">&nbsp;</div>
              <div class="col-xs-12 col-sm-12 col-md-6 mt-1" style="text-align: center;">
                <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error</div>
                <input type="text" size="35" placeholder="Nachname" th:field="*{surname}" class="form-control input-lg text-center" >
              </div>
            </div>

            <div class="form-row">
              <div class="d-none d-md-block col-md-3">&nbsp;</div>
              <div class="col-xs-12 col-sm-12 col-md-6 mt-4 " style="text-align: center">
                <button type="submit" class="text-white btn btn-primary btn-lg btn-block"><div th:text="${submitButtonText}" th:remove="tag" /></button>
              </div>
              <div class="d-none d-md-block col-md-3">&nbsp;</div>
            </div>
          </form>        
        </div>
      </div>
    </div>

    <div th:replace="fragments :: bodyFooter" th:remove="tag">Body Footer</div>

    <div th:if="${dataCommitted}">
      <script>
      showCommitMessage();
      </script>
    </div>

  </body>
</html>
