<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>QR Raumverwaltung</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  </head>
  <body>
    <div class='qrbody'>
      <img id="qrlogo" th:src="@{/image/logo.png}" />
      <div th:if="${room != null}">
        <h1><div th:text="${room.roomType.description}" /></h1>
        <h2><div th:text="${room.description}" /></h2>
        <img th:src="${qrUrl}" /><br/>
        <p><span class='qrlabel'>Registration unter:</span> <span class='qrsource' th:text="${webServiceUrl}"/></p>
        <p><span class='qrlabel'>PIN:</span><span class='qrsource' th:text="${room.pin}" /></p>

        <div th:if="${location != null}">
          <p><span class='qrlabel'>Platz-Nr.:</span> <span class='qrsource' th:text="${location}" /></p>
        </div>
        
        <div class="noprint" th:if="${location == null}">
          <p><span class='qrlabel' id='noAttendees' th:text="'Aktuell: ' + ${room.attendeesCount} + ' Personen'" /></p>
          <script th:inline="javascript">
            function getNumberOfAttendees() {
              var noa = document.getElementById('noAttendees');
              var apiUrl = [[${apiUrl}]];

              fetch(apiUrl).then(resp => resp.json()).then(function (room) {
                noa.innerHTML = "Aktuell: " + room.attendeesCount + " Personen";
              });
            }
            setInterval(getNumberOfAttendees, 15e3);
          </script>
        </div>

      </div>
      <div th:if="${room == null}">
        <h1>Unbekannte PIN</h1>
      </div>
    </div>
  </body>
</html>
