<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>QR Travel</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class='qrbody'>
      <img id="qrlogo" src="/image/logo.png" />
      <div th:if="${room != null}">
        <h1><div th:text="${room.roomType.description}" /></h1>
        <h2><div th:text="${room.description}" /></h2>
        <img th:src="'/qrcode?p=' + ${room.pin}" /><br/>
        <p><span class='qrlabel'>PIN:</span><span class='qrsource' th:text="${room.pin}" /></p>
        <p><span class='qrlabel'>Registration unter:</span> <span class='qrsource' th:text="${webServiceUrl}"/></p>
        <p><span class='qrlabel' id='noAttendees' th:text="'Aktuell: ' + ${room.attendeesCount} + ' Personen'" /></p>
        
        <script th:inline="javascript">
          function getNumberOfAttendees() {
            var noa = document.getElementById('noAttendees');
            var pin = [[${room.pin}]];
            
            fetch('/room?p=' + pin ).then(resp=>resp.json()).then(function(room){
              noa.innerHTML = "Aktuell: " + room.attendeesCount + " Personen";
            });
          }
          setInterval( getNumberOfAttendees, 15e3 );
        </script>
        
      </div>
      <div th:if="${room == null}">
        <h1>Unbekannte PIN</h1>
      </div>
    </div>
  </body>
</html>
